@model MainTbl

<h1>Add New Burial Records</h1>


<form asp-action="Add" method="post">

    <h3>Location of Burial</h3>
    <div class="border form-group">
        <!--burial location NS-->
        <div>
            <label asp-for="BurialLocationNs">Burial Location (North/South)</label>
            <select class="form-control col-3" asp-for="BurialLocationNs">
                <option value="">Select One</option>
                <option value="N">North</option>
                <option value="S">South</option>
            </select>
        </div>

        <!--burial location EW-->
        <div>
            <label asp-for="BurialLocationEw">Burial Location (East/West)</label>
            <select class="form-control col-3" asp-for="BurialLocationEw">
                <option value="">Select One</option>
                <option value="E">East</option>
                <option value="W">West</option>
            </select>
        </div>

        <!--low pair NS-->
        <div>
            <label asp-for="LowPairNs">Low pair (North/South)</label>
            <input class="form-control col-3" asp-for="LowPairNs" />
        </div>

        <!--high pair NS-->
        <div>
            <label asp-for="HighPairNs">High pair (North/South)</label>
            <input class="form-control col-3" asp-for="HighPairNs" />
        </div>

        <!--low pair EW-->
        <div>
            <label asp-for="LowPairEw">Low pair (East/West)</label>
            <input class="form-control col-3" asp-for="LowPairEw" />
        </div>

        <!--high pair EW-->
        <div>
            <label asp-for="HighPairEw">High pair (East/West)</label>
            <input class="form-control col-3" asp-for="HighPairEw" />
        </div>

        <!--burial subplot-->
        <div>
            <label asp-for="BurialSubplot">Burial Subplot</label>
            <select class="form-control col-3" asp-for="BurialSubplot">
                <option value="">Select One</option>
                <option value="NE">Northeast</option>
                <option value="NW">Northwest</option>
                <option value="SE">Southeast</option>
                <option value="SW">Southwest</option>
            </select>
        </div>

        <!--burial number-->
        <div>
            <label asp-for="BurialNumber">Burial Number</label>
            <input class="form-control col-3" asp-for="BurialNumber" />
        </div>

    </div>


    <h3>Orientation of Burial</h3>
    <div class="border">
    <!--south to head-->
        <div class="form-group">
            <label asp-for="SouthToHead">South to Head </label>
            <input class="form-control col-3" asp-for="SouthToHead" />
        </div>

        <!--south to feet-->
        <div class="form-group">
            <label asp-for="SouthToFeet">South to Feet </label>
            <input class="form-control col-3" asp-for="SouthToFeet" />
        </div>

        <!--east to head-->
        <div class="form-group">
            <label asp-for="EastToHead">East to Head </label>
            <input class="form-control col-3" asp-for="EastToHead" />
        </div>

        <!--east to feet-->
        <div class="form-group">
            <label asp-for="EastToFeet">East to Feet </label>
            <input class="form-control col-3" asp-for="EastToFeet" />
        </div>

        <!--legnth-->
        <div class="form-group">
            <label asp-for="LengthOfRemains">Length of Remains</label>
            <input class="form-control col-3" asp-for="LengthOfRemains" />
        </div>
        <!--depth-->
        <div class="form-group">
            <label asp-for="BurialDepth">Burial Depth </label>
            <input class="form-control col-3" asp-for="BurialDepth" />
    </div>

     </div>

    <h3>Miscellaneous Information </h3>
    <div class="border">
        <!--photo yes no-->


        <!--burial goods yes no (references artifact found)-->
        <div class="form-group">
            <label asp-for="ArtifactFound">Artifact Found? </label>
            <select class="form-control col-3" asp-for="ArtifactFound">
                <option value="">Select One</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>


    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Record</button>

    <div asp-validation-summary="All"></div>

</form>