<h1>Researcher Page</h1>

<form asp-action="AddBurialForm" method="post">
    <div>
        <label>Trait</label>
        <input />
    </div>

    <div>
        <label>Trait</label>
        <input />
    </div>

    <div>
        <label>Trait</label>
        <input />
    </div>

    <div>
        <label>Trait</label>
        <input />
    </div>

    <div>
        <label>Trait</label>
        <input />
    </div>

    <div asp-validation-summary="All"></div>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>

</form>