@model IEnumerable<MainTbl>

<h1>Burial Records page</h1>

<p>view all burial records and sort by different filters</p>

<!--filters-->

<div></div>

    <form asp-controller="Home" asp-action="BurialRecords">
        <p>
            <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table>
        <thead>
            <tr>
                <th>Col</th>
                <th>Col</th>
                <th>Col</th>
                <th>Col</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model) { 
                <tr>
                    <td>@x.BurialId</td>
                    <td>Row</td>
                    <td>Row</td>
                    <td>Row</td>
                </tr>
            }
            
        </tbody>
    </table>
    <div class="pagination"></div>
