<h1>Burial Records page</h1>

<p>view all burial records and sort by different filters</p>

<!--filters-->

<div>

</div>
<input class="form-control" id="searchTable" type="text" placeholder="Search..">
<br />
<table>
    <thead>
        <tr>
            <th>Col</th>
            <th>Col</th>
            <th>Col</th>
            <th>Col</th>
        </tr>
    </thead>
    <tbody id>
        <tr>
            <td>Row</td>
            <td>Row</td>
            <td>Row</td>
            <td>Row</td>
        </tr>
    </tbody>
</table>
<div class="pagination" page-info="@Model.PageNumberingInfo"></div>