@model MainTbl

<h1 class="text-center">Edit Burial Record</h1>


<form asp-action="Edit" method="post">

    <div class="row">

        <div class="border col-4">
            <br />
            <h4>Location of Burial</h4>
            <!--burialid-->
            <input type="hidden" asp-for="BurialId" />


            <!--burial location NS-->
            <div>
                <label asp-for="BurialLocationNs">Burial Location (North/South)</label>
                <select class="form-control" asp-for="BurialLocationNs">
                    <option value="">Select One</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select>
            </div>

            <!--burial location EW-->
            <div>
                <label asp-for="BurialLocationEw">Burial Location (East/West)</label>
                <select class="form-control" asp-for="BurialLocationEw">
                    <option value="">Select One</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
            </div>

            <!--low pair NS-->
            <div>
                <label asp-for="LowPairNs">Low pair (North/South)</label>
                <input class="form-control" asp-for="LowPairNs" />
            </div>

            <!--high pair NS-->
            <div>
                <label asp-for="HighPairNs">High pair (North/South)</label>
                <input class="form-control" asp-for="HighPairNs" />
            </div>

            <!--low pair EW-->
            <div>
                <label asp-for="LowPairEw">Low pair (East/West)</label>
                <input class="form-control" asp-for="LowPairEw" />
            </div>

            <!--high pair EW-->
            <div>
                <label asp-for="HighPairEw">High pair (East/West)</label>
                <input class="form-control" asp-for="HighPairEw" />
            </div>

            <!--burial subplot-->
            <div>
                <label asp-for="BurialSubplot">Burial Subplot</label>
                <select class="form-control" asp-for="BurialSubplot">
                    <option value="">Select One</option>
                    <option value="NE">Northeast</option>
                    <option value="NW">Northwest</option>
                    <option value="SE">Southeast</option>
                    <option value="SW">Southwest</option>
                </select>
            </div>

            <!--burial number-->
            <div>
                <label asp-for="BurialNumber">Burial Number</label>
                <input class="form-control" asp-for="BurialNumber" />
            </div>

        </div>

        <div class="border col-4">
            <br />
            <h4>Orientation of Burial</h4>
            <!--south to head-->
            <div class="form-group">
                <label asp-for="SouthToHead">South to Head </label>
                <input class="form-control" asp-for="SouthToHead" />
            </div>

            <!--south to feet-->
            <div class="form-group">
                <label asp-for="SouthToFeet">South to Feet </label>
                <input class="form-control" asp-for="SouthToFeet" />
            </div>

            <!--east to head-->
            <div class="form-group">
                <label asp-for="WestToHead">East to Head </label>
                <input class="form-control" asp-for="WestToHead" />
            </div>

            <!--east to feet-->
            <div class="form-group">
                <label asp-for="WestToFeet">East to Feet </label>
                <input class="form-control" asp-for="WestToFeet" />
            </div>

            <!--legnth-->
            <div class="form-group">
                <label asp-for="LengthOfRemains">Length of Remains</label>
                <input class="form-control" asp-for="LengthOfRemains" />
            </div>
            <!--depth-->
            <div class="form-group">
                <label asp-for="BurialDepth">Burial Depth </label>
                <input class="form-control" asp-for="BurialDepth" />
            </div>

        </div>

        <div class="border col-4">
            <h3>Miscellaneous Information </h3>
            <br />
            <!--photo yes no-->
            <!--burial goods yes no (references artifact found)-->
            <div class="form-group">
                <label asp-for="ArtifactFound">Artifact Found? </label>
                <select class="form-control" asp-for="ArtifactFound">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <!--Hair color-->
            <div class="form-group">
                <label asp-for="HairColor">Hair color or specimen </label>
                <select class="form-control" asp-for="HairColor">
                    <option value="">Select One</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Blonde">Blonde</option>
                    <option value="Black">Black</option>
                </select>
            </div>

            <!--AGE-->
            <!--<div class="form-group">
            <label asp-for="AGE">Estimated Age (at time of death) </label>
            <select class="form-control col-3" asp-for="EstimateAge">
                <option value="">Select One</option>
                <option value="Adult">Adult</option>
                <option value="Child">Child</option>
                <option value="Neonate/Infant">Infant</option>
            </select>
        </div>
            -->
            <!--excavation recorder-->
            <!--<div class="form-group">
            <label asp-for="RecorderName">Researcher </label>
                <input class="form-control col-3" asp-for="RecorderName" />

        </div>
            -->
            <!--Date-->
            <div class="form-group">
                <label asp-for="YearFound">Year Exhumed </label>
                <input class="form-control" asp-for="YearFound" />
            </div>

            <div class="form-group">
                <label asp-for="MonthFound">Month Exhumed </label>
                <select class="form-control" asp-for="MonthFound">
                    <option value="0">Select One</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="DayFound">Day Exhumed </label>
                <input class="form-control" asp-for="DayFound" />
            </div>


        </div>

    </div>

    <div class="text-center">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update Record</button>
    </div>

    <div asp-validation-summary="All"></div>

</form>