
<div class="text-center">
    <h1 class="display-4">The Fag el-Gamous Ancient Burial Site</h1> <br /><br />
    <h4 class="text-center text-danger">Fag el-Gamous translates to "Way of the Water Buffalo." </h4>
</div>
<br /><br />

<div class="container">
    
    <div class="row">

        <!--left side for photos-->
        <div class="col-5">
            <img class="text-center" src="~/img/map.PNG" width="400" height="400" /> <br />
            <p class="text-center">*Map of where Fag el-Guamous is located</p>
        </div>

        <!--right side for information-->
        <div class="col-7">
            <p>
                The Fag el-Gamous ancient burial site is located on the eastern edge of the Fayoum Depression, approximately 55 miles (90 km) south of Cairo, Egypt.
                During multiple years of study, researchers have excavated more than 1,000 mummies that have provided a plethora of knowledge and understanding about ancient cultures.
            </p>
            <br />
            <p>
                This ancient burial site has been under archeological investigation (primarily by Brigham Young University researchers) for over 25 years.
                This Graeco-Roman cemetery is one that also includes a Graeco-Roman township,
                some Middle Kingdom tombs, and a small Old Kingdom pyramid that dates to Pharaoh Snefru (circa 2613–2589 BCE; Dynasty IV).
                The majority of BYU's excavation efforts since 1990 have been concentrated in the Graeco-Roman cemetery.
            </p>
            <br /><br />
           
        </div>
    </div>
</div>

<br /><br />


<div class="container">

    <div class="row">

        <!--left side for text-->
        <div class="col-7">
            <p>
                <b>Thanks to the efforts of Brigham Young University students and faculty, the archaelogical data from the Fag el-Gamous burial site has been made available to the public.</b>
                Click <a asp-action="BurialRecords">here</a> to see the complete record of the excavations from the Fag el-Gamous site. <br />
            </p>

            <p>
                The “dig” is organized using a grid system where a square is defined by the coordinates North (N), East (E), South (S), and West (W) of an origin.
                It is common for two numbers to designate the distance from the origin in a direction (e.g., N 190/200 or E 40/50). Those squares are then subdivided
                into the Northwest (NW), Northeast (NE), Southeast (SE) or Southwest (SW) quadrant (section) of the square. An example burial location is: N 190/200 E 40/50 SE.
                Because many mummies (usually 40 or more) are found in each location, a number is assigned (e.g., N 190/200 E 40/50 SE #9) to uniquely identify the burial.
            </p>


        </div>

        <!--right side for photos-->
        <div class="col-5">


            <img class="img-fluid" src="~/img/13 February 2007 026.jpg" width="400" height="400" /> <br />
            <p class="text-center">*Burial remains found at the Fag el-Gamous ancient burial site. Found my Brigham Young University on February 13, 2007.</p>

            <img class="img-fluid" src="~/img/25. B.3.32 1401-50N 50-60E NW Burial 18.jpg" width="400" height="400" /> <br />
            <p class="text-center">*Burial remains found at the Fag el-Gamous ancient burial site. Found my Brigham Young University on January 26, 1994.</p>

            <img class="img-fluid" src="~/img/Slide7.JPG" width="400" height="400" /> <br />
            <p class="text-center">*Burial remains found at the Fag el-Gamous ancient burial site. Found my Brigham Young University on February 13, 2002.</p>

        </div>
    </div>
</div>

