<div class="text-center border">
    <h3>Log in using your Researcher or Administrator credentials</h3>
    <h5>After logging in, you will be able to add, edit, or remove records.</h5>

    <br />
    <label>Username: </label><input /> <br />

    <label>Password: </label><input /> <br />

    <button type="submit" class="btn-danger">Sign in</button>
</div>